.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9ebd8;
  flex-direction: column;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about__title {
  font-family: "Inria Serif", cursive;
  font-size: 22px;
  color: #3e3a39;
  text-align: center;
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-weight: 400;
  font-style: italic;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 580px;
}

.about__text {
  font-family: "Poppins", sans-serif;
  color: #3e3a39;
  margin: 0;
  font-size: 20px;
}
