.plans {
  justify-content: center;
  gap: 2rem;

  height: 100vh;
}

.plans__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.plans__container-img {
  width: 100%;
  height: 100%;
  display: block;
}

.plans__image-wrapper {
  position: relative;
  display: inline-block;
  height: 100%;
}

.plans__image-wrapper .ca {
  position: absolute;
  bottom: 80px;
  left: 200px;
  width: 100%;
  height: 100%;
  padding: 0;
}

.plans__subtitle {
  font-family: "Italianno", cursive;
  font-size: 5rem;
  color: #3e3a39;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 15%;
  margin: 0;
  width: 100%;
  background-color: #fff;
  max-width: 930px;
}
