.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.step__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.step__container-faqs-title {
  margin: 0;
}
.step__container-faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.step__container-faqs {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq__list {
  margin: 0;
  padding: 0;
}

.step__container-steps-title {
  margin: 0;
}
