* {
  font-family: "Poppins", sans-serif;
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  #root {
    padding: 0 0.5rem;
  }
}
